_format_version: "2.1"
_transform: true

services:
{%- for path in endpoints %}
{%- set outer_loop = loop %}
- name: {{path}}
  url: {{ config.domain + "/" + path }}
  routes:
{%- for endpoint in endpoints[path] %}
  - name: {{ "route-" }}{{ outer_loop.index }}{{ "-" }}{{ loop.index }}
    methods:
    - {{endpoint.method.value}}
    paths:
    - {{ endpoint.path }}
    {%- if endpoint.path_params|length != 0 %}
    regex_priority: {{ endpoint.path_params|length }}
    plugins:
    - name: request-transformer
      config:
        replace:
          uri: {{ endpoint.uri }}
    {%- endif %}
{%- endfor %}
{%- endfor %}
